.homepageContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(92.05deg, #f180c1 4.55%, #a450c9 95.79%);
  padding: 1rem 0rem;
  justify-content: center;
  align-items: center;
}

.calendarDiv {
  width: 90%;
  height: 50%;
}

.createDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  padding: 2rem 0rem;
}

.createEventBtn {
  display: block;
  border: none;
  padding: 1rem 2rem;
  color: #f180c1;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .homepageContainer {
    background: linear-gradient(92.05deg, #f180c1 4.55%, #a450c9 95.79%);
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .calendarDiv {
    width: 90%;
    height: 50%;
  }

  .createDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0rem;
    margin: 2rem 0rem;
  }

  .createEventBtn {
    width: 100%;
    display: block;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 500;
    outline: none;
    cursor: pointer;
  }
}
